* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: white;
}
body {
  box-shadow: -1px, 1px, 8px, 1px lightgray;
}
/*Header*/
header {
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  background-color: rgb(53, 53, 255);
  color: white;
}
h1 {
  text-align: center;
  font-size: 26px;
}
ul {
  text-align: center;
}
header a {
  color: white;
}
li {
  display: inline-block;
  text-decoration: none;
  padding-top: 10px;
  margin: 10px;
}
/*Seccion Principal*/
.negrita {
  font-weight: bold;
}
.css {
  background-color: yellow;
  font-weight: bold;
}
.inicio {
  padding: 0.5rem;
  border: 1px lightgray solid;
}
.principal {
  width: 100%;
}
.interna1 {
  background-color: rgb(190, 220, 255);
  float: left;
  width: 49.5%;
}
.interna1 img {
  margin-left: 25%;
  width: 10%;
}
.interna2 {
  border-radius: 10px;
  background-color: rgb(190, 220, 255);
  float: left;
  width: 49.5%;
}
.interna2 img {
  margin-left: 25%;
  width: 10%;
}
.servicios {
  padding: 0.5rem;
  border: 1px lightgray solid;
  width: 100%;
}
.parrafo {
  font-style: oblique;
  font-weight: bold;
}
/*Tabla*/
Table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
}
tr:nth-child(even) {
  background-color: #e0e7ff;
}
td,
th {
  padding: 0.5rem;
  border: 1px lightgray solid;
}
thead {
  font-weight: bold;
  background-color: rgb(177, 213, 255);
}
/*Tabla*/
.filaAzul {
  background-color: rgb(190, 220, 255);
}
.tarjetas {
  width: 100%;
}
.tarjeta1 {
  padding: 0.5rem;
  border: 1px lightgray solid;
  width: 33%;
  float: left;
}
.tarjeta1 img {
  margin-left: 16%;
  width: 33%;
}
.tarjeta2 {
  padding: 0.5rem;
  border: 1px lightgray solid;
  width: 33%;
  float: left;
}
.tarjeta2 img {
  margin-left: 16%;
  width: 33%;
}
.tarjeta3 {
  padding: 0.5rem;
  border: 1px lightgray solid;
  width: 33%;
  float: left;
}
.tarjeta3 img {
  margin-left: 16%;
  width: 33%;
}

.contacto {
  width: 100%;
}
.contacto img {
  width: 8%;
  text-align: right;
}
ol {
  margin: 11rem, 2rem;
}
#third-sect.img-wrapper {
  width: fit-content;
  float: right;
}
#third-sect.img-wrapper img {
  width: 8rem;
}
/*Footer*/
footer {
  background-color: rgb(0, 0, 90);
  color: white;
  text-align: center;
  padding-top: 15px;
  height: 35px;
}
