* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4d4949;
}

nav {
  background-color: rgb(61, 58, 58);
  color: white;
  position: absolute;
  width: 80%;
  top: 6%;
  padding: 10px;
  left: 16%;
  z-index: 10;
}
li {
  display: inline-block;
  text-decoration: none;
  width: 20%;
}
aside {
  background-color: #4d4949;
  position: fixed;
  top: 15%;
  left: 10px;
  border-style: solid;
  border-width: 5px;
  width: 100px;
  height: 40vh;
}

.profile {
  width: 100%;
}

main {
  background-color: rgba(73, 172, 218, 0.904);
  height: 80vh;
  position: absolute;
  width: 80%;
  left: 16%;
  top: 10%;
}

figure,
figcaption {
  border-radius: 5px 5px;
  box-shadow: 2px 2px 6px black;

  display: inline;
}

.img1 {
  width: 25%;
  border-radius: 5px 5px;
  box-shadow: 2px 2px 6px black;
  background-color: white;
  top: 25%;
  left: 10%;
  z-index: 5;
}
.img2 {
  width: 25%;
  top: 28%;
  left: 20%;
  z-index: 3;
}
.img3 {
  width: 25%;
  top: 40%;
  left: 30%;
}
.img4 {
  width: 25%;
  top: 25%;
  left: 50%;
  z-index: 5;
}
