* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.topbar {
  background-color: rgb(76, 182, 129);
  color: black;
  line-height: 0.5px;
  position: fixed;
  width: 100%;
  top: 0;
}
.opciones {
  float: right;
  text-align: right;
  margin-right: 2%;
}
li {
  display: inline-block;
  text-decoration: none;
  padding-top: 10px;
  margin: 15px;
}
li:hover {
  font-size: 11px;
  text-align: center;
  height: 27px;
  width: 41px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.LogoRestaurantes img {
  text-align: left;
  float: left;
  margin-left: 15px;
}
body {
  padding-top: 60px;
}
header {
  background-color: white;
  text-align: center;
}
h3 {
  color: tomato;
  font-size: 12px;
}
h2 {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
figcaption {
  text-align: center;
  margin-top: 0%;
  margin: 1%;
  text-decoration: none;
}
p {
  font-size: 10px;
}
.iconos {
  margin-left: 40%;
  width: 20%;
}
.BarraMenu {
  width: 100%;
  color: aquamarine;
}

.comida1 {
  float: left;
  width: 33%;
}
.comida2 {
  float: left;
  width: 33%;
}
.comida3 {
  float: left;
  width: 33%;
}
.comida4 {
  float: left;
  width: 33%;
}
.comida5 {
  float: left;
  width: 33%;
}
.comida6 {
  float: left;
  width: 33%;
}
.Filacomida1 {
  width: 100%;
  text-align: center;
  height: 250px;
}
.filacomida2 {
  text-align: center;
  width: 100%;
  height: 210px;
}
footer {
  height: 60px;
  background-color: rgb(76, 182, 129);
  color: white;
  width: 100%;
}
.redes-sociales {
  width: 33%;
  float: left;
  text-align: right;
  justify-content: space-between;
}
.redes-sociales img {
  width: 30px;
  margin-top: 15px;
}
.ImagenRestaurante {
  width: 33%;
  float: left;
  text-align: center;
}
.Derechos {
  margin-top: 30px;
  height: 60px;
  text-align: left;
  width: 33%;
  float: left;
  font-size: 14px;
}
