table,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}
caption {
  border: 2px solid black;
  font-size: 25px;
  text-align: center;
  background-color: rgb(34, 109, 248);
  color: white;
}
th {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 162, 255);
  background-color: rgb(255, 255, 255);
}
td.fecha {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 162, 255);
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
}
