Table,
th,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}
caption {
  border: 2px solid black;
  font-size: 25px;
  text-align: center;
  background-color: rgb(34, 109, 248);
  color: white;
}
td.DJK {
  background-color: rgb(0, 171, 214);
  color: white;
}
td.IKL {
  background-color: rgb(255, 75, 62);
  color: white;
}
td.SSF {
  background-color: rgb(243, 198, 50);
  color: white;
}
td.LND {
  background-color: rgb(116, 255, 197);
  color: black;
}
td.PRO {
  background-color: rgb(79, 14, 109);
  color: black;
}
td.ITK {
  background-color: rgb(208, 54, 255);
  color: white;
}
td.BAE {
  background-color: rgb(38, 226, 95);
  color: white;
}
td.ETS {
  background-color: rgb(40, 230, 255);
  color: white;
}
